<div fxLayout="none" fxFlexFill>
  <div>
    <img src='assets/logo.png' />
  </div>
  <div style="margin:35px;">
    <font style="color: #005B7F;font-size:xx-large; font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">Project</font>
    <font style="color: #48A842;font-size:xx-large; font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">Atlas</font>&nbsp;
    <font style="color: #FFDD00;font-size:xx-large; font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;">manager</font>
  </div>
</div>
<div fxLayout="none" class="container" fxLayoutAlign="center center" fxFlexFill style="background-color: lightgray;">
  <app-arcgislogin></app-arcgislogin>
  <router-outlet>
  </router-outlet>
</div>
